<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn">
    <properties>
        <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
        <property name="LOG_FILE_PATTERN">
            [%X{X-Request-Id}]%d{MM-dd HH:mm:ss.SSS.Z}[%X{QUERY_ENT_ID}] [%-5level][%t][%c{1.}.%method:%L]%msg{nolookups}%n
        </property>
        <!-- 定义日志存储的路径，不要配置相对路径 -->
        <property name="FILE_PATH" value="logs"/>
        <!--项目名称-->
        <property name="FILE_NAME" value="apisixrunner"/>
    </properties>

    <Appenders>

        <!-- 这个会打印出所有的info及以下级别的信息，每次大小超过size，则这size大小的日志会自动存入按年份-月份建立的文件夹下面并进行压缩，作为存档-->
        <RollingFile name="RollingFile" fileName="${FILE_PATH}/apisixrunner.log"
                     filePattern="${FILE_PATH}/${FILE_NAME}-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout pattern="${LOG_FILE_PATTERN}"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，默认是1 hour-->
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件开始覆盖-->
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>
    <Loggers>

        <Root level="INFO" includeLocation="true">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>

</configuration>